<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <clear />
        <rule name="Assets" stopProcessing="true">
          <match url="(.js|.css|assets/.*|data/.*|images/.*|solvers/.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Index" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="/inventory/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
